<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beauty Database</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/beauty-products">Beauty Products</a>
          <a href="/beauty-products/new">Add a Product</a>
        </li>
      </ul>
</nav>
<%= yield %>
  </body>
</html>
