<form action="/beauty-products" method="post">
<label for="brand">Brand: </label>
<input type="brand" type="text" name="brand">
<label for="category">Category: </label>
<input type="category" type="text" name="category">
<label for="colour">Colour: </label>
<input type="colour" type="text" name="colour">
<input type="submit" value="Submit">
</form>
